@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header_main{
background-image: url(../public/images/hero\ bg.png);
background-repeat: no-repeat;
background-size: contain;
}
.Amen_bg{
    background-image: url(../public/images/amenity\ bg.png);
    background-repeat: no-repeat;
}
.contact_main{
    background-image: url(../public/images/footer\ bg.png);
    background-repeat: no-repeat;
}
.message-input{
    width: 98% !important;
}